extends layout

block content
	h1 Settings
	h2 Connected services
	p Connect services to display them in Elevate.
	ul
		li Fitbit: !{fitbit}
		li Jawbone: !{jawbone}
		li Strava: !{strava}
	h2 [Debug] Force crawl
	form(action="/admin/crawl" method="post")
		input(type="submit" value="Crawl Now")