extends layout

block content
	a(href="/") Back to Elevate
	h1 Settings
	p Connect some services to display your fitness data in Elevate.
	ul
		li Fitbit: !{fitbit}
		li Jawbone: !{jawbone}
		li Strava: !{strava}
	if (debug)
		form(action="/admin/crawl" method="post")
			input(type="submit" value="[Debug] Crawl Now")