extends layout

block content
	h1 Settings
	h2 Connected services
	p Connect services to display them in Elevate.
	ul
		li Fitbit: !{fitbit}
		li Jawbone: !{jawbone}
		li Strava: !{strava}
	h2 [Debug] Force sync
	p Force Elevate to sync now.
	form(action="/admin/sync" method="post")
		select(name="service")
			option(value="fitbit") Fitbit
			option(value="jawbone") Jawbone
			option(value="strava") Strava
		span &nbsp;
		input(type="submit" value="Sync Now")