extends layout

block content
	h1 Settings
	h2 Connected services
	p Connect services to display them in Elevate.
	ul
		li Fitbit: !{fitbit}
		li Jawbone: !{jawbone}
		li Strava: !{strava}
	h2 [Debug] Force sync
	p Force Elevate to sync now with all connected services.
	form(action="/admin/sync" method="post")
		input(type="submit" value="Sync Now")